<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dabaisk.boot.mapper.CrmCustcateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dabaisk.boot.model.CrmCustcate">
        <id column="Id" property="Id" />
        <result column="Name" property="Name" />
        <result column="EName" property="EName" />
        <result column="ParentId" property="ParentId" />
        <result column="OrderId" property="OrderId" />
        <result column="Path" property="Path" />
        <result column="IdPath" property="IdPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, Name, EName, ParentId, OrderId, Path, IdPath
    </sql>

</mapper>
